.main-category{
    margin: 25px 0;
}
.main-category h1{
    margin-bottom: 35px;
    font-size: 24px
}
.main-category h1::after{
    content: "";
   display: block;
   margin-top: 5px;
   width: 50px;
   height: 3px;
   background-color: #168ce0;
}

.main-category .categories{
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}
.main-category .categories .category{
    background-color: black;
    width: calc(50% - 5px);
    cursor: pointer;
    overflow: hidden;
}
.main-category .categories .category img{
    width: 100%;
    display: block;
}


@media screen and (min-width: 768px)
{
    .main-category{
        margin: 50px 0;
    }
    .main-category .categories{
        display: flex;
        gap: 10px;
    }
    .main-category .categories .category{
        width: calc(25% - 10px);
    }
    .main-category h1::after{
        margin-top: 10px;
    }
}